.templateCard {
    width: 304px;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    padding: 16px;
    opacity: 0.8;
    background-color: #FFFFFF;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.iconContainer {
    display: flex;
    gap: 2px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #E2E8F0;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.iconText {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.429;
    color: #62748E;
    text-align: center;
}


.button{
    height: 32px;
}
.cardTitle {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.429;
    color: #020618;
    margin: 0;
}

.buttonContainer {
    display: flex;
    gap: 6px;
    margin-top: 24px;
}
